---
layout: default
---

<h1>{{ page.category | replace:'-',' ' | capitalize }}</h1>

{% capture posts %}
  {% for post in site.categories[page.category] %}
    |{{ post.title }}#{{ post.url }}#{{ post.summary }}
  {% endfor %}
{% endcapture %}
{% assign sortedposts = posts | split: '|' | sort %}
{% for post in sortedposts %}
    {% assign postitems = post | split: '#' %}
    <div>
    	<a href="{{ postitems[1] }}">{{ postitems[0] }}</a><br>
    	<section>{{ postitems[2] }}</section>
    </div>
{% endfor %}